extends layout

block content
  .header
    h1= title
    p Cant decide what you want to make for dessert for the next big event?We can help! Just click the button for some yummy dessert ideas.
    button#randomizer Give Me More Desserts!
  .images
    img#1
    img#2
    img#3
    img#4
    img#5
    img#6
    img#7
    img#8
    img#9
    img#10
    img#11
    img#12
    img#13
    img#14
    img#15
    img#16
  .largeImage(hidden)
    img#large
    p
    a
  .footer
    p
      | All recipes and images provided by
      img#logo(src='images/yummilylogo.png')

