extends layout

block content
  .header
    h1= title
    p Cant decide what you want to make for dessert for the next big event?We can help! Just click the button for some yummy dessert ideas.
    button#randomizer Give Me More Desserts!
  .images
    img.thumbs#1
    img.thumbs#2
    img.thumbs#3
    img.thumbs#4
    img.thumbs#5
    img.thumbs#6
    img.thumbs#7
    img.thumbs#8
    img.thumbs#9
    img.thumbs#10
    img.thumbs#11
    img.thumbs#12
    img.thumbs#13
    img.thumbs#14
    img.thumbs#15
    img.thumbs#16
  .largeImage(hidden)
    img#large
    p
    a
  .footer
    p
      | All recipes and images provided by
      img#logo(src='images/yummilylogo.png')

