doctype html
html
  head
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type='text/javascript', src='javascripts/randomizer.js')
    script(type='text/javascript', src='javascripts/dessertController.js')
    script(type='text/javascript', src='javascripts/dessertModel.js')
    script(type='text/javascript', src='javascripts/dessertView.js')
    script(type='text/javascript', src='javascripts/yummilyrequest.js')
    script(type='text/javascript', src='javascripts/noderequests.js')
  body
    block content