body {
  padding: 0px;
  margin: 0px;
  font-family: 'Playball', cursive;
  text-align: center;	
  color: #FF0000;
  font-weight: bold;
  background-image: url('../images/icecream.jpg');
}

a {
  color: #00AAFF;
  font-size: 20px;
}

img {
  border: 2px solid #FF0000;
  margin: 10px;
}

h1 {
	font-size: 50px;	
}

h2 {
  font-size: 30px;
}

#header p {
	font-size: 20px;
}

#buttons {
	margin-bottom: 10px;
}

#footer {
	bottom: 0;
    position: fixed;
    width: 100%;
}

#footer p {
	font-size: 30px;
	margin: 0px;
}

#logo {
  border: 0px;
}