body {
  padding: 0px;
  margin: 0px;
  font-family: 'Playball', cursive;
  text-align: center;	
  color: #FF0000;
  background-image: url('../images/icecream.jpg');
}

a {
  color: #00B7FF;
}


#header h1 {
	font-size: 50px;	
}

#header p {
	font-size: 20px;
}

#buttons {
	margin-bottom: 10px;
}






#footer {
	bottom: 0;
    position: fixed;
    width: 100%;
}

#footer p {
	font-size: 30px;
	margin: 0px;
}
